.section1 {
  width: 70%;
  background-color: #c0e2c9;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.container {
  width: 90%;
  background-color: #e6fdec;
  margin: auto;
  border-radius: 10px;
  display: flex;
}

img {
  border-radius: 10px;
}

.form-sec {
  background-color: white;
  width: 50%;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  border-radius: 0px 10px 10px 0;
}

input {
  width: 60%;
  /* margin-top: 20px; */
  padding: 10px 20px;
  border: 1px solid #777;
  border-radius: 4px;
}
input:focus {
  outline: none;
}
label {
  display: block;
  text-transform: capitalize;
}
.input-name {
  margin-top: 10px;
}
.input-mail {
  margin-bottom: 10px;
}
form {
  padding-top: 20px;
  margin-top: 40px;
}
.inp-1 {
  margin-bottom: 20px;
}
.btn-login {
  padding: 10px 60px;
  width: 50%;
  background-color: #253239;
  color: aliceblue;
  margin-top: 40px;
}
.btn-login:hover {
  cursor: pointer;
}
label {
  text-align: start;
  padding-left: 15%;
  color: #9c9f9c;
}
h4 {
  color: #9c9f9c;
  padding-top: 10px;
}
span {
  color: #a1c5ab;
}

.foot-sign-up {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  color: #53ab6c;
}

.msg {
  display: block;
  text-transform: capitalize;
  font-size: 14px;
  margin: 10px 0 0 0;
  color: red;
  visibility: hidden;
}
