body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #e6fdec;
  color: #123c25;
}

.exam-container {
  display: flex;
  height: 100vh;
}


.sidebar {
  width: 250px;
  background-color: #c0e2c9;
  padding: 20px;
  border-right: 3px solid #a0d0b2;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
  color: #1c4d2e;
  margin-bottom: 10px;
}

.marked-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.marked-item {
  background-color: #e6fdec;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
  border: 1px solid #a7d7b5;
}

.marked-item:hover {
  background-color: #a5d9b2;
  color: white;
}


.main-content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  text-align: center;
  margin-bottom: 30px;
}

.hero h1 {
  color: #164d31;
  margin-bottom: 5px;
}

.hero p {
  color: #3c6d50;
}

.question-box {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 60%;
  text-align: center;
}

.options {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  background-color: #e6fdec;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s;
}

.option:hover {
  background-color: #bde6c4;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  background-color: #123c25;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #1e5237;
}

.mark-btn {
  background-color: #348f50;
}

.submit-btn {
  background-color: #1c4d2e;
}


.timer {
  font-size: 20px;
  font-weight: bold;
  color: #2b6d4f;
  text-align: right;
  margin-bottom: 15px;
}
.score-page {
  text-align: center;
  background: #f5fff8;
  border-radius: 12px;
  padding: 50px;
  margin: 100px auto;
  width: 60%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-family: "Poppins", sans-serif;
}

.score-page h1 {
  color: #2b6d4f;
}

.score-page h2 {
  color: #1e5631;
  margin: 20px 0;
}

.score-page button {
  background: #2b6d4f;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.score-page button:hover {
  background: #1f4c3b;
}
.score-page {
  text-align: center;
  background: #f5fff8;
  border-radius: 12px;
  padding: 50px;
  margin: 100px auto;
  width: 60%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  font-family: "Poppins", sans-serif;
}

.score-page h1 {
  color: #2b6d4f;
}

.score-page h2 {
  color: #1e5631;
  margin: 20px 0;
}

.score-page button {
  background: #2b6d4f;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.score-page button:hover {
  background: #1f4c3b;
}
